.about-me {
    width: 80%;
    margin: -7% auto 6% auto;
    min-height: 330px;
    background-color: #d9e5fc;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.25);
    display: flex;
    position: relative;
    align-items: center;

}

.about-me img {
    min-height: 250px;
    max-width: 250px;
}

.about-me-info {
    margin: 10px;
    text-align: center;
}

.about-me-info h1  {
    color: #050000;
    font-family: 'Bree Serif', serif;
    font-size: 28px;
    font-weight: 600;
   
}
.about-me-info h2 h3{
    color: #080000;
    font-size: 15px;
    font-family: 'Bree Serif', serif;
    font-weight: 200;
    line-height: 5px;
 
}

.about-me-info p {
    color: #363636;
    font-family: 'Assistant', sans-serif;
    font-size: 20px;
}