@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;400;600&family=Bree+Serif&display=swap');

body {
    background-color: #f6f5f5;
    margin: 0px auto;
    padding: 0px;
    max-width: 1800px;
    min-width: 600px;
}

h1 {
    color: #403e3e;
    font-family: 'Bree Serif', serif;
    font-size: 28px;
    font-weight: 300;
    line-height: 10px;
}

h2 {
    color: #403e3e;
    font-family: 'Bree Serif', serif;
    font-size: 28px;
    font-weight: 300;
    line-height: 10px;
    text-align: center
}

h3 {
    color: #403e3e;
    font-family: 'Bree Serif', serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 10px;
    text-align: center;
}

h4 {
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-family: 'Assistant', sans-serif;
    font-weight: bold;
    font-size: 19px;
    outline: none;
    margin: 15px 25px 15px 0px;
}

.down-cv {
  background-color: #0b0b0b;
  color: #FFFFFF;
  border: none;
}

button:hover {
    transform: scale(1.08);
    transition: 200ms;
}

button:active {
    transform: scale(1.03);
}

@media only screen and (width: 885px) {

    section {
        max-height: 95vh;
    }

}

@media only screen and (max-width: 885px) {

    nav {
        display: flex;
        flex-direction: column;
    }

    nav ul {
        display: flex;
        flex-direction: column;
    } 

    .about-container {
        margin-top: 10% !important;
    }


    .cover-images {
        display: none;
    }

    .text-fullstack {
        font-family: myriad pro regular;
        color: #403e3e;
        font-size: 20px;
    }
    
    .text-dietitian {
        font-family: myriad pro regular;
        color: #403e3e;
        font-size: 20px;
        font-style: italic;
    }

    section {
        background-image: none !important;
    }

}